@model IEnumerable<WebXeDap.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaKhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nhacungcap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khuyenmai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaKhuyenMai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhacungcap.MaNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khuyenmai.MaKM)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
