@model IEnumerable<WebXeDap.Models.Nhacungcap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.MaNCC">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNCC">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNCC">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
